.u-section-1 {
  background-image: url("images/as-min1.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 833px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 557px;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 246px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: ABeeZee;
  font-size: 3.75rem;
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 8px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 192px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 192px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 192px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 30px;
}

.u-section-1 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 192px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 30px;
}

.u-section-1 .u-text-9 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 0 auto;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 30px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 32px;
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-5 {
  height: 32px;
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-6 {
  height: 32px;
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-7 {
  height: 32px;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-text-10 {
  margin: 15px 16px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 508px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 445px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 160px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 160px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 83.75% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 302px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 474px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 234px;
  }
}