.not-found {
    width: 100%;
    height: 100%;
    background: black;
    text-align: center;
    padding-top:  20vw;
    font-size: 22px;
    font-family: 'DaysOne', sans-serif;
}

.not-found__heading {
    color: white;
    position: relative;
    z-index: 3000;
    padding-bottom:  50px;
}

.not-found__button {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    background-color: orange;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    font-family: 'DaysOne', sans-serif;
    transition: .3s ease-in-out;
}

.not-found__button:hover {
    background-color: black;
    color: white;
}

.not-found__button:active {
    background-color: orange;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.not-found__button a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}