.auth {
  font-family: 'DaysOne', sans-serif;
}

.auth a {
  color: orange;
  transition: .4s ease-in-out;
}

.login a:hover {
  color: red;
}

.auth__heading, .auth__registered {
  font-family: 'DaysOne', sans-serif;
  color: orange;
}

.auth__form-submit {
  color: #000;
  background-color: orange;
  padding: 10px 15px;
  transition: .5s ease-in-out;
  border-radius: 10px;
}

.auth__form-submit:hover {
  color: #fff;
  background-color: black;
  border: 1px solid white;
}

.auth__form-input {
  max-width: 70%;
}

.register-form .form-control {
  max-width: 90%;
}

.register-form .register-newsletter {
  display: flex;
}

.register-form .register-newsletter input {
  flex-basis: 5%;
}

.register-form .register-grid {
  display: flex;
  flex-wrap: wrap;
}

.register-form .register-grid .form-group {
  flex-basis: 50%;
}

.register-form .register-submit {
  color: #000;
  background-color: orange;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  transition: .4s ease-in-out;
  margin-top: 30px;
}

.register-form .register-submit:hover {
  color: white;
  background: #000;
  border: 1px solid #fff;
}

@media screen and (max-width: 550px) {
  .register-grid {
    flex-direction: column;
  }
}