.fixmain {
    padding: 2rem;
    position: relative;
}

.logo{
    height: 13vw;
}

.checkout-heading, .checkout-personal-info__heading {
    font-size: 1.5vw;
    font-family: "DaysOne", serif;
    border-bottom: 5px solid rgba(225, 225, 225, .5);
    padding-bottom: 20px;
}

.checkout-products {
    padding-top: 30px;
}

.checkout-product {
    display: flex;
    margin-bottom: 30px;
}

.checkout-product__cell {
    font-family: "DaysOne", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-product__cell:not(:nth-child(1)) {
    margin-right: 10vw;
}

.checkout-product__cell:nth-child(2) {
    flex-direction: column;
    justify-content: end;
    margin-left: 3vw;
}

.checkout-product__img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.checkout-product__heading {
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    font-size: 2vh;
}

.checkout-product__price {
    font-size: 3vh;
}

.checkout-product__count {
    display: flex;
    align-items: center;
    width: 20vw;
}

.checkout-product__add, .checkout-product__dellete, .checkout-product__remove {
    width: 30px;
    height: 30px;
}

.checkout-product__counter {
    margin: 0 10px;
    max-width: 40%;
    color: #fff;
    font-size: 2vh;
    font-family: "DaysOne", sans-serif;
    text-align: center;
}

.checkout-personal-info {
    margin-top: 38px;
}

.checkout-fields {
    margin-top: 40px;
}

.checkout-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.checkout-label {
    font-size: 2.6vh;
    font-family: "Roboto", serif;
    margin-bottom: 10px;
}

.checkout-input {
    height: 40px;
    max-width: 40%;
    border-bottom: 5px solid rgba(225, 225, 225, .5);
    font-size: 2.4vw;
    transition: .7s ease-in-out;
}

.checkout-input-box {
    width: 50px;
    border-bottom: 0;
    margin: 0;
}

.checkout-personal-info__input:focus {
    border-color: #fff;
}

.checkout-terms {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.checkout-terms input {
    margin-bottom: 0;
}

.checkout-proceed__confirm {
    width: 15vw;
    font-size: 1.5vw;
    background-color: darkblue;
    padding: 15px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width:  720px) {
    .checkout-product__price{
        display: none;
    }
    .checkout-product__remove{
        display: none;
    }
}
@media screen and (max-width:  400px) {
    .checkout-product__price{
        display: none;
    }
    .checkout-product__remove{
        display: none;
    }
}
@media screen and (max-width:  1200px) {
    .checkout-product__price{
        display: none;
    }
    .checkout-product__remove{
        display: none;
    }
}