html, body {
	margin: 0;
	padding:  0;
	width: 100%;
	overflow-x: hidden;
}

body {
    display:  flex;
    width: 100vw;
    height: 100%;
	min-height: 100vh;
	position: relative;
}

h1 {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

button, input {
	background: none;
	border: 0;
	color: white;
}

.fa-icon {
	display: inline-block;
	font-size: 2vw;
	transition: all 0.5s ease;
}


header {
	background: black url("../images/sushi.gif");
	position: fixed;
	top: 0;
	left: 0;
	background-size: 100% 100%	;
	color:  white;
	height:  100vh;
	z-index: 1500;
	min-width: 15vw;
}

main {
	margin: 0 15vw;
	color:  white;
	background:  black;
	min-width: 70vw;
}


.heading2{
	margin-left:-35%;
	font-family: 'Pacifico', serif;
	color:  white;
	width: 100%;

	}
	
	.logo2{
		width: 100%;
		height: 100%;
}
	.logo_img_img2{
		height: 100%;
		width: 30%;
	}

	.main-header{
		width: 100%;
		height: 10vh;
		display: none;
	}

.logo {
	text-align: center;
	color: white;
	padding-top: 10px;
	height: 13vw;
}

.logo_img_img{
	height: 75%;
	width: 75%;
}


.heading {
	font-family: 'Pacifico', serif;
	font-size: 2vw;
	color:  white;
	width: 100%;
	text-align: center;
}



nav {
margin-top: 5%;
}

.nav-menu {
	list-style: none;
	padding: 0;
}

.nav-menu-item {
	padding: 10px 0 20px 20px;
	z-index: 30;
	display: flex;
	position: relative;
}

.nav-menu-item::after {
	content: "";
	display: block;
	width: 0;
	height: 5px;
	background-color: orange;
	position: absolute;
	bottom: 0;
	transition: width .5s ease-in-out;
}

.nav-menu-item__link {
	font-size: 1vw;
	color:  white;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.5s ease;
	font-family: 'Pacifico', serif;
}
 .submenu-sublist-item__link, .submenu-item__link{
 	font-size: 1vw;
	color:  white;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.5s ease;
	font-family: 'Pacifico', serif;
 }

.nav-menu-item__link {
	padding-left: 10px;
	transition: all 0.5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;

}

.nav-menu-item__icon {
	width: 40px;
	line-height: .8; !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-menu-item:hover {
	cursor: pointer;
}

.nav-menu-item:hover .nav-menu-item__link,
.nav-menu-item:hover .fa-icon {
	color: orange;
}

.nav-menu-item:hover::after {
	width: 70%;
}

.nav-menu-item:hover .submenu {
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
}

.submenu {
	padding: 0;
	position: absolute;
	right: -10.8rem;
	top: -19vw;
	visibility: hidden;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top;
	transition: all .5s ease-in-out;
	z-index: 1;
}

.submenu-sublist {
	visibility: hidden;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top;
	position: absolute;
	top: 0;
	right: -9.7rem;
	z-index: 0;
	transition: .3s ease-in-out;
}

.submenu-item{
	background:  black;
	color: white;
	padding: 20px 0 20px 20px;
	position: relative;
	display: block;
	width: 150px;
	margin-bottom: 2px;
	transition: background-color .4s ease-in-out,
				color .4s ease-in-out;
}

.submenu-item:hover {
	background-color: orange;
	color: black;
}

.submenu-item:hover .submenu-sublist {
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
}


.submenu-sublist-item {
	background:  black;
	color: white;
	padding: 20px 0 20px 20px;
	right:  -1.2rem;
	position: relative;
	display: block;
	width: 150px;
	margin-bottom: 2px;
}

.submenu-sublist-item__link, .submenu-item__link {
	text-transform: none;
	overflow-wrap: break-word;

}

.submenu-sublist-item__link:hover {
	display: block;
}

.header-footer{
	display:  flex;
	align-items: center;
	margin-top: 8vw;
	justify-content: space-around;

}

.header-footer-a{
	text-decoration: none;
	color: white;
	font-size: 2vw;
}

.header-footer-a:hover{
	color: orange;
	transition: .2s ease-in-out;
}

.swiper {
  width: 700px;
  height: 400px;
}

.main_footer{
	display: none;
}

.header-toggle {
	display: none;
}

footer{
	position:  fixed;
	top:  0;
	right:  0;
	background:  orange;
	background-image: url("../images/bg.gif");
	background-size: 100% 100%	;
	max-width:  15vw;
	height: 100vh;
}

.icon {
	display: inline-block;
	width: 40px;
	height: 40px;
}

@media screen and (max-width: 1200px) {
	main {
		width: 100vw;
		margin-right: 0;
	}

	.nav-menu-item {
		padding-left: 0;
	}

	.submenu {
		top: -20vw;
	}

	footer {
		display:  none;
	}

	.splide__slide img {
		width: 100%;
		height: 75vh;
	}

	.splide__slide {
		width: 100%;
		height: 75vh;
	}

	.main_footer {
		display: block;
	}
	.submenu-item__link, .submenu-sublist-item__link {
		font-size: 1rem;
	}
}

@media screen and (max-width: 720px) {
	main {
		margin: 0;
	}

	.main-header{
		display:  flex;
	}

	.header-toggle {
		display: block;
	}

	header {
		min-width: 30vw;
		transition: .7s ease-in-out;
	}

	 .logo {
		 width: 20vw;
		 height: 20vw;
		 margin: auto;
	 }

	 .nav-menu {
		 padding-left: 20px;
	 }

	footer{
		display: none;
	}

	header.collapsed-window {
		left: 0;
	}

	header.collapsed-window--collapsed {
		left: -50%;
	}

	.header-toggle {
		margin: 0;
		background: none;
		z-index: 1501;
		width: 50px;
		height: 50px;
	}

	.heading {
		font-size: 4vw;
		text-align: center;
	}



	.submenu {
		padding: 0;
		position: absolute;
		right: -10.8rem;
		top: -30vw;
		visibility: hidden;
		opacity: 0;
		transform: scaleY(0);
		transform-origin: top;
		transition: all .5s ease-in-out;
		z-index: 1;
	}

	.nav-menu-item {
		padding: 0 0 0 0;
		height: 70px;
		display: flex;
		align-items: center;
	}

	.nav-menu-item::after {
		margin-left: 5px
	}

	.nav-menu-item:hover::after {
		width: 90%;
	}

	.submenu{
		right: -10rem;
	}

	

	.submenu-item, .submenu-sublist-item {
		padding: 5px;
		width: 150px;
	}

	.submenu-item__link, .submenu-sublist-item__link {
		font-size: 3vw;
	}

	.nav-menu-item__link {
		font-size: 2vw;
	}

	.nav-menu-item__icon {
		font-size: 5vw;
	}
}

@media screen and (max-width: 450px) {
	header {
		width: 45vw;
	}
		.main-header{
		display: flex;
	}
	.logo {
		width: 30vw;
		height: 30vw;
	}

	.heading {
		font-size: 5vw;
	}

	.nav-menu-item__link {
		font-size: 3vw;
	}

	.nav-menu-item__icon {
		font-size: 8vw;
	}

	.submenu{
		right: -7rem;
	}
	.submenu-sublist {
    right: -6rem;
}

	.submenu-item, .submenu-sublist-item {
		padding: 5px;
		width: 100px;
	}

	.submenu-item__link, .submenu-sublist-item__link {
		font-size: 3vw;
	}

	.header-footer {
		position: relative;
		bottom: 20px;
		margin-top: 0;
		height: 30vh;
	}
}


.minus, .plus, .remove {
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.minus {
	background-image: url("../images/test/minus.svg");
}

.plus {
	background-image: url("../images/test/plus.svg");
}

.remove {
	background-image: url("../images/test/remove.svg");
}

.footer-video{
    background: url("https://i.ytimg.com/vi/kkmW-tppFPM/hqdefault.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
		margin-bottom:  3px;    
}

.instagram{
	width: 100%;
}

.tiktok{
	width: 100%;
}

.facebook{
	width: 100%;
}